.title {
  background: rgb(121, 242, 157);
}

.content {
  width: 100%;
  margin: 0 auto;
}

.icon {
  display: flex;
  height: 300px;
  border-radius: 3px;
  background-color: #EFEFEF;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.form {
    margin-top: 20px;
    padding: 0 20px;
//   flex: 1;
//   display: grid;
//   grid-auto-rows: 28px;
//   grid-template-columns: 1fr 1fr;
//   gap: 10px;
//   margin-left: 10px;
//   justify-content: flex-start;
}

.formItem {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formLabel {
    width: 200px;
    height: 100%;
    text-align: left;
}
.formControl {
    flex: 1;
    height: 100%;
}

.input {
    width: 100%;
    height: 100%;
    text-align: right;
}

.checkbox {
    display: inline-block;
    float: right;
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #FFF;
    box-sizing: border-box;
    z-index: 1;
    transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
        background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);

    &::after {
        position: absolute;
        left: 10px;
        top: 3px;
        width: 5px;
        height: 12px;
        border: 3px solid #fff;
        border-left: 0;
        border-top: 0;
        box-sizing: content-box;
        content: "";
        transform: rotate(45deg) scaleY(0);
        transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6)
            0.05s;
        transform-origin: center;
    }

    &.isChecked {
        border-color: #2C77F4;
        background: #2C77F4;

        &::after {
            transform: rotate(45deg) scaleY(1);
        }
    }
}

.picker {
    width: 100%;
}

.grid {
  display: grid;
  width: 100%;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(2 * 100px, 1fr));
  grid-auto-rows: 120px;
  overflow: hidden;
  border-width: 1px 0 0 1px;

}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
