body {
    // 文字
    --color-text-primary: #262626; // 重要级文字信息/标题信息 -> 模块标题/表头信息/弹窗标题
    --color-text-regular: #525252; // 次级文字信息/标题信息 -> 列表内容/表单标题或字段/导航列表/选择器等输入选择文字/icon (常用)
    --color-text-secondary: #8C8C8C; // 辅助文字信息/补充描述 -> 补充描述信息/辅助时间手机号/小标题/禁用失效功能文字/输入框选择器禁用失效文字
    --color-bg-primary: #FFF; // 主内容底色
    --color-bg-tertiary: #F4F4F6; // 全局背景
    --color-border-line: #E8E8E8; // 分割线 -> 分割线/边框线

    padding: 0;
    margin: 0;
    background-color: #F4F4F6;
}

.page-section {
    margin: 20px;
}

$item-size: 100px;

.fill-type {
    text-transform: capitalize;
}

.filters {
    display: flex;
    position: sticky;
    top: 0;
    padding: 12px 20px;
    background: var(--color-bg-primary);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(#000, 0.1);
}

.icon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2 * $item-size, 1fr));
    grid-auto-rows: 120px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid var(--color-border-line);
    border-width: 1px 0 0 1px;

    * {
        outline: none;
    }
}

.icon-item {
    display: flex;
    border: 1px solid var(--color-border-line);
    background: var(--color-bg-primary);
    color: var(--color-text-regular);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-width: 0 1px 1px 0;
    flex-direction: column;

    .icon {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        max-width: 300px;
    }

    .svg-icon {
        width: 32px;
        height: 32px;
    }

    p {
        margin: 0;
        margin-top: 10px;
        color: var(--color-text-primary);
        font-size: 14px;
        text-align: center;
    }
}

.icon-name {
    line-height: 1.5;

    span {
        color: var(--color-text-secondary);
    }
}
