// stylelint-disable

/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td,
div, span {
    // 清除内外边距和设置盒模型
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* prettier-ignore */
fieldset, lengend, button, input, textarea, a {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* prettier-ignore */
body,
button, input, select, textarea {
    // 这里默认字体需要定义在 _variable.scss
    // font-family: $font-family;
}

a {
    color: inherit;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}
