// global variables

// *** color ***/
$color-primary: #2AAEFF; // Default color

// *** typograpy 字体相关 ***/
$font-family: "Helvetica Neue", "Helvetica", "Roboto", "sans-serif", "Arial";

// font-weight
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;
