@import "./demoBlock";

.svg-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}

.svg-up {
    transform: rotate(-90deg);
}

.svg-right {
    transform: rotate(0deg);
}

.svg-down {
    transform: rotate(90deg);
}

.svg-left {
    transform: rotate(180deg);
}

#app {
    margin-top: 60px;
    color: #2C3E50;
    text-align: center;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
    font-weight: normal;
}

h2 {
    padding-top: 20px;
    border-top: 1px solid #DCDCDC;
}

@keyframes color1 {
    0% {
        fill: #42B983;
    }

    50% {
        fill: #35495E;
    }

    100% {
        fill: #42B983;
    }
}

@keyframes color2 {
    0% {
        fill: #35495E;
    }

    50% {
        fill: #42B983;
    }

    100% {
        fill: #35495E;
    }
}

.vue-logo path[pid="0"] {
    /* fill: #42b983; */
    animation: color1 6s ease-in-out infinite;
}

.vue-logo path[pid="1"] {
    /* fill: #35495e; */
    animation: color2 6s ease-in-out infinite;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(-30deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.good {
    animation: rotate 1s linear infinite;
    transform-origin: left bottom;
}
