@import "./demoBlock";

body {
    --color-primary: #FFF;
}

#app {
    margin-top: 60px;
    color: #2C3E50;
    text-align: center;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
    font-weight: normal;
}

h2 {
    padding-top: 20px;
    border-top: 1px solid #DCDCDC;
}

@keyframes color1 {
    0% {
        fill: #42B983;
    }

    50% {
        fill: #35495E;
    }

    100% {
        fill: #42B983;
    }
}

@keyframes color2 {
    0% {
        fill: #35495E;
    }

    50% {
        fill: #42B983;
    }

    100% {
        fill: #35495E;
    }
}

.vue-logo path[pid="0"] {
    /* fill: #42b983; */
    animation: color1 6s ease-in-out infinite;
}

.vue-logo path[pid="1"] {
    /* fill: #35495e; */
    animation: color2 6s ease-in-out infinite;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(-30deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.good {
    animation: rotate 1s linear infinite;
    transform-origin: left bottom;
}

.svg-icon {
    margin-right: 10px;
}
